extends ./linkIt
prepend content
    form.addLink
        p
            label Title
            input.title(required=true value='sometitle')
        p
            label URL
            input.url(required=true pattern='https?://.+' value='http://test')
        input.addLinkBtn(type='submit', value='Neuer Post')
    form.logout(action='/auth/logout' method='post')
        p
            input.logout(type='submit' value='Logout..')