doctype html
html
    head
        title LinkIt - Light
        link(rel='stylesheet', href='/css/main.css')
        script(src='js/jquery-2.1.4.min.js')
        script(src='js/handlebars-v3.0.3.js')
        script(src='js/handlebarHelpers.js')
        script(src='js/linkAPI.js')
        script(src='js/main.js')
    body
        #wrapper
            header.salutation
                h1 Hello #{user || 'Guest'}

                block content
            section#allLinks
